# Node modules & logs
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Docker
Dockerfile
.dockerignore

# Git & docs
.git
.gitignore
README.md

# System / Editor
.vscode
.idea
.DS_Store
*.swp
